.projectcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.projecttext {
    width: 50%;
}

.projectimage {
    width: 50%;
}

.projectcontainer.even {
    flex-direction: row-reverse;
}

.projectcontainer.odd {
    flex-direction: row;
}

.viewbutton {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 15px;
    border-width: 2px;
    border-color: black;
    height: 30px;
    width: 100px;
}

.imageel {
    height: 250px;
    width: 350px;
}



@media only screen and (max-width: 768px) {
    .projectcontainer {
        flex-direction: column;
    }

    .projecttext,
    .projectimage {
        width: 100%;
    }

    .projectcontainer.even,
    .projectcontainer.odd {
        flex-direction: column;
    }
}
